body {
  background-image: url("http://res.cloudinary.com/cinnabomb/image/upload/v1481928166/ww8jbak7bo-andrew-illarionov_lvqhf3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.box {
  font-family: Orbitron;
  color: grey;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  height: 400px;
  width: 300px;
  background-color: #474747;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5), inset 0 0 10px #000000; }
  .box h1 {
    padding: 10px; }

table {
  margin: auto;
  width: 90%;
  table-layout: fixed; }
  table td {
    padding: 4px; }

button {
  font-family: Orbitron;
  background-color: grey;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), inset -3px -3px 10px rgba(0, 0, 0, 0.5); }

button:active {
  border-style: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), inset -3px -3px 10px rgba(0, 0, 0, 0.5); }

button:focus {
  outline: 0; }

.red {
  background-color: #db371a; }

.blue {
  background-color: #80c3e5; }

.green {
  background-color: #5bd373; }

.orange {
  background-color: #f28321; }

.output {
  font-family: orbitron;
  margin: auto;
  text-align: right;
  width: 250px;
  height: 50px;
  color: #42473f;
  background: #8b918c;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.8); }
  .output p {
    padding-right: 2px;
    margin: auto; }
  .output .main {
    font-size: 20px; }
